#title {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 3px black, 0 0 1em black, 0 0 0.2em black;
  background-image: url("../img/banner.png");
}

.thumbnail {

  margin: 0px;
  padding: 0px;
}

#center {
  text-align: center;
  color: white;
  /* text-shadow: 2px 2px 3px black, 0px 0px 1px black, 0px 0px 0px black; */
}

#center1 {
  text-align: center;
  color: black;
  /* text-shadow: 2px 2px 3px black, 0px 0px 1px black, 0px 0px 0px black; */
}

body {
  background-color:  	#B09A64;
}
