#title {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  text-shadow: 2px 2px 3px white, 0 0 1em black, 0 0 0.2em white;
  background-image: url("../img/banner1.webp");
  /* background-repeat: no-repeat;
  background-size: cover; */
}

.thumbnail {

  margin: 0px;
  padding: 0px;
}

#center {
  text-align: center;
  font-family: arial black;
  color: white;
  text-shadow: 2px 2px 3px gray, 0px 0px 1px black, 0px 0px 0px gray;
}

#center1 {
  text-align: center;
  color: black;
  /* text-shadow: 2px 2px 3px black, 0px 0px 1px black, 0px 0px 0px black; */
}

body {
  background-color:  	#838996;
}

.well {
  padding: 18px;
  margin: 17px;
}
